<header class="masthead">
<nav class="language-nav">
    <ul>
        <li><a href="#"><b>CSS</b></a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">Javascript</a></li>
        <li><a href="#">Ruby</a></li>
    </ul>
</nav>

<img src="assets/AA_Times_Logo.png" class="logo">

<nav class="masthead-links">
    <ul>
        <li>Thursday, October 15, 2020</li>
        <li><i class="far fa-newspaper"></i><a href="#">Today’s Paper</a></li>
        <li><i class="fas fa-video"></i><a href="#">Video</a></li>
        <li><button>77°F</button></li>
        <li><button>AAO <strong> +100%</strong></button></li>
    </ul>
</nav>
</header>