body {
    font-family: 'Itim', cursive;
}

.clock-display {
    background-color:orange;
    border: 1px solid black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.time, .date {
    display: flex;
    justify-content: space-between;
}

.clock {
    width: 350px;
    height: 500px;
}