body {
    line-height: 1.5;
    font-family: Aria, sans-serif;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
    list-style: square inside;
}

ol {
    list-style: circle inside;
}

header > img {
    width: 100px;
}

ul li a, figcaption a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: snow;
}
